  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 90%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0px;
  }

  .logo {
    cursor: pointer;
  }
  
  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .logout-button {
    margin-left: 12px;
    padding: 12px 8px 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  }